* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.busca {
    display: flex;
    width: 800px;
}
.busca #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}
.busca button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: #555;
    color: #FFF;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #fff;
}
.busca button:hover {
    background-color: #444;
}

.result {
    width: 800px;
    display: none;
    border: 1px solid #fff;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.name {
    width: 100%;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name .icon {
    float: left;
}

.icon {
    padding: 20px;
}

.info {
    display: flex;
    width: 100%;
}
.info .col1 {
    flex: 1;
    text-align: center;
}
.info .col2 {
    flex: 1;
    text-align: center;
}

.info .col3 {
    flex: 1;
    text-align: center;
}

.symbol,
.change1d,
.change7d,
.change1y {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}

.description {
    color: #777;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: justify;
    padding: 30px;
    padding-top: 0px;
}

.circulatingSupply,
.maxSupply {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}

.titles {
    color: #777;
    font-size: 16px;
    margin-bottom: 5px;
}

.rank,
.price,
.marketCap {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}

.sigla .sup {
    font-size: 15px;
    font-weight: normal;
}
.price span {
    font-size: 15px;
    font-weight: normal;
}

.aviso {
    color: #FFF;
    padding-top: 20px;
}

footer {
    margin-top: 200px;
    color: #FFF;
    font-size: 13px;
}